<div>
    <div class="row">
        <div class="col-xl-12">
            <h2 class="page-header">
                Pasajeros
            </h2>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <i class="fa fa-dashboard"></i> <a href="Javascript:void(0)" [routerLink]="['/pasajero']">Pasajeros</a>
                </li>
            </ol>
        </div>
    </div>
    <button routerLink="/pasajero/create">Crear pasajero</button>
    <table datatable class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Correo electronico</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of data">
                <td>{{item.nombres}}</td>
                <td>{{item.email}}</td>
                <td>
                    <button routerLink="/pasajero/edit/{{item.id}}">
                        Editar
                    </button>
                    <button (click)="delete(item.id)">
                        Eliminar
                    </button>
                </td>
            </tr>
        </tbody>
    </table>

</div>