<div>
    <div class="row">
        <div class="col-xl-12">
            <h2 class="page-header">
                Crear pasajero
            </h2>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <i class="fa fa-dashboard"></i> <a href="Javascript:void(0)" [routerLink]="['/pasajero']">Vuelo</a>
                </li>
            </ol>
        </div>
    </div>

    <form [formGroup]="userForm" role="form" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <label class="form-control-label" for="inputSuccess">Nombre</label>
                    <input class="form-control" type="text" formControlName="name">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label class="form-control-label" for="inputSuccess">Correo:</label>
                    <input class="form-control" type="email" formControlName="email">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <button type="submit">Guardar</button>
            </div>
        </div>
    </form>
</div>