<div>
    <div class="row">
        <div class="col-xl-12">
            <h2 class="page-header">
                Vuelos
            </h2>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <i class="fa fa-dashboard"></i> <a href="Javascript:void(0)" [routerLink]="['/vuelos']">Vuelos</a>
                </li>
            </ol>
        </div>
    </div>
    <button routerLink="/vuelos/crear">Crear vuelo</button>
    <table datatable class="table">
        <thead>
            <tr>
                <th>Descripción</th>
                <th>Fecha de salida</th>
                <th>Ciudad de origen</th>
                <th>Ciudad de destino</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of data">
                <td>{{item.description}}</td>
                <td>{{item.departureDate}}</td>
                <td>{{item.originCity}}</td>
                <td>{{item.destinationCity}}</td>
                <td>
                    <button routerLink="/vuelos/edit/{{item.id}}">
                        Editar
                    </button>
                    <button (click)="delete(item.id)">
                        Eliminar
                    </button>
                </td>
            </tr>
        </tbody>
    </table>

</div>