<div>
    <div class="row">
        <div class="col-xl-12">
            <h2 class="page-header">
                Crear vuelo
            </h2>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <i class="fa fa-dashboard"></i> <a href="Javascript:void(0)" [routerLink]="['/vuelos']">Vuelos</a>
                </li>
            </ol>
        </div>
    </div>

    <form [formGroup]="userForm" role="form" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <label class="form-control-label" for="inputSuccess">Descripción</label>
                    <input class="form-control" type="text" formControlName="description">
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="inputSuccess">Fecha de salida:</label>
                    <div class="input-group datepicker-input">
                        <input class="form-control" placeholder="yyyy-mm-dd"
                            name="dp" formControlName="departure_date" ngbDatepicker #d="ngbDatepicker">
                        <button class="input-group-addon" (click)="d.toggle()" type="button">
                            <span class="fa fa-calendar"></span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label class="form-control-label" for="inputSuccess">Ciudad de destino</label>
                    <input class="form-control" type="text" maxlength="45" formControlName="destination_city">
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="inputSuccess">Ciudad de origen:</label>
                    <input class="form-control" type="text" maxlength="45" formControlName="origin_city">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <button type="submit">Guardar</button>
            </div>
        </div>
    </form>
</div>