<div>
    <div class="row">
        <div class="col-xl-12">
            <h2 class="page-header">
                Aviones
            </h2>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <i class="fa fa-dashboard"></i> <a href="Javascript:void(0)" [routerLink]="['/avion']">Aviones</a>
                </li>
            </ol>
        </div>
    </div>
    <button routerLink="/aviones/create">Crear avion</button>
    <table datatable class="table">
        <thead>
            <tr>
                <th>Aerolinea</th>
                <th>Descripcion</th>
                <th>Cantidad maxima de pasajeros</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of data">
                <td>{{item.airline}}</td>
                <td>{{item.description}}</td>
                <td>{{item.maximunQuantity}}</td>
                <td>
                    <button routerLink="/aviones/edit/{{item.id}}">
                        Editar
                    </button>
                    <button (click)="delete(item.id)">
                        Eliminar
                    </button>
                </td>
            </tr>
        </tbody>
    </table>

</div>